In [1]:
"""App and API settings."""
import os
from typing import Union

from pydantic import BaseSettings, Field


class AppSettings(BaseSettings):
    """Global app and API settings.

    Define your default values here.
    Values can be overriden by ENV variables with the same name (case-insensitive).

    If you want all ENV variables to have a certain prefix and still be parsed into
    these AppSettings, you can set the `env_prefix` variable below.

    For example: if `env_prefix = "KTP_"`,
    then the env variable `KTP_LOG_LEVEL` will be parsed to `AppSettings.log_level`.

    Check the docs for more information: https://pydantic-docs.helpmanual.io/usage/settings/

    In the code, you can access these variables like this:
        >>> from app.core.settings import Settings
        >>> print(Settings.app_name)
        template-kubernetes-fastapi
    """

    # DEPLOYMENT and ENVIRONMENT Settings
    loglevel: str = "INFO"

    class Config:
        # Set a prefix to all ENV variables.
        env_prefix = ""
        env_file = ".env"  # .env file should be at base of repo

    # Config map
    teams_alert_url: str = Field(
        os.environ.get("KTP_TEAMS_ALERT_URL"), description="Teams alert url."
    )
    teams_monitoring_url: str = Field(
        os.environ.get("KTP_TEAMS_MONITORING_URL"), description="Teams monitoring url."
    )

    apx_host: str = Field("", description="APX host.")
    apx_port: str = Field("22", description="APX port.")
    apx_username: str = Field(
        os.environ.get("KTP_APX_USERNAME"), description="APX username."
    )
    apx_password: str = Field(
        os.environ.get("KTP_APX_PASSWORD"), description="APX password."
    )

    knmi_api_url: str = Field("", description="")
    knmi_dataset_name: str = Field(
        "harmonie_arome_cy40_p1", description="KNMI Dataset name."
    )
    knmi_dataset_version: str = Field("0.2", description="KNMI dataset version.")
    knmi_api_key: str = Field(
        os.environ.get("KTP_KNMI_API_KEY"), description="KNMI API key."
    )

    pvoutput_getsystem_endpoint_url: str = Field("", description="")
    pvoutput_getregionstatus_endpoint_url: str = Field("", description="")
    pvoutput_api_sid: str = Field(
        os.environ.get("KTP_PVOUTPUT_API_SID"), description="PVOUTPUT API sid."
    )
    pvoutput_api_key: str = Field(
        os.environ.get("KTP_PVOUTPUT_API_KEY"), description="PVOUTPUT API key."
    )

    api_url: str = Field("", description="")
    api_username: str = Field(
        os.environ.get("KTP_API_USERNAME"), description="API username."
    )
    api_password: str = Field(
        os.environ.get("KTP_API_PASSWORD"), description="API password."
    )
    api_admin_username: str = Field(
        os.environ.get("KTP_API_ADMIN_USERNAME"), description="API admin username."
    )
    api_admin_password: str = Field(
        os.environ.get("KTP_API_ADMIN_PASSWORD"), description="API admin password."
    )

    mysql_host: str = Field("", description="MySQL host.")
    mysql_port: str = Field("3308", description="MySQL port.")
    mysql_database_name: str = Field("tst_icarus", description="MySQL database name.")
    mysql_username: str = Field(
        os.environ.get("KTP_MYSQL_USERNAME"), description="MySQL username."
    )
    mysql_password: str = Field(
        os.environ.get("KTP_MYSQL_PASSWORD"), description="MySQL password."
    )

    influxdb_host: str = Field("", description="InfluxDB host.")
    influxdb_port: str = Field("8086", description="InfluxDB port.")
    influxdb_username: str = Field(
        os.environ.get("KTP_INFLUXDB_USERNAME"), description="InfluxDB username."
    )
    influxdb_password: str = Field(
        os.environ.get("KTP_INFLUXDB_PASSWORD"), description="InfluxDB password."
    )

    proxies: Union[dict[str, str], None] = None

    env: str = Field("container", description="Environment (local or container)")

In [2]:
from openstef_dbc.data_interface import _DataInterface

config = AppSettings()

di = _DataInterface(config)

/mnt/c/repos/openstef-dbc/openstef_dbc/ktp_api.py:184: UserWarning: Could not establish connection with ktp-api. Continuing anyway... Invalid URL 'api/influx/ping': No scheme supplied. Perhaps you meant http://api/influx/ping?
  warnings.warn(

In [3]:
config

AppSettings(loglevel='INFO', teams_alert_url=None, teams_monitoring_url=None, apx_host='', apx_port='22', apx_username=None, apx_password=None, knmi_api_url='', knmi_dataset_name='harmonie_arome_cy40_p1', knmi_dataset_version='0.2', knmi_api_key=None, pvoutput_getsystem_endpoint_url='', pvoutput_getregionstatus_endpoint_url='http://data.pvoutput.org/data/r2/getregionstatus.jsp', pvoutput_api_sid='62812', pvoutput_api_key='a3a026c2f3d69d2b5ad89bfef05eb0214801fc39', api_url='', api_username=None, api_password=None, api_admin_username=None, api_admin_password=None, mysql_host='localhost', mysql_port='3308', mysql_database_name='tst_icarus', mysql_username='icarus', mysql_password='91jnp6r0usek5gpm8vvam76s0vzuffcbus1x', influxdb_host='localhost', influxdb_port='8086', influxdb_username='influx', influxdb_password='XcXCsRRDSg1mnoc8Zhpdagr78b6yiH37', proxies=None, env='container')

In [4]:
weatherparams = ["pressure" , "windspeed_100m"]

In [5]:
weather_params_str = '" or r._field == "'.join(weatherparams)

In [6]:
source = [ "harm_arome"]

In [7]:
weather_models_str = '" or r.source == "'.join(
            [s for s in source]
        )

In [8]:
weather_models_str

'harm_arome'

In [9]:
weather_params_str

'pressure" or r._field == "windspeed_100m'

In [10]:
from datetime import datetime, timedelta
p = {"_start": datetime.utcnow() - timedelta(days = 7),
     "_stop": datetime.utcnow(),     
     "_input_city": "Arnhem",
     "_source": "harm_arome",
     "_field": "pressure",         
         }

query_dataframe = f'''from(bucket: "forecast_latest/autogen") |> range(start: {p["_start"].strftime('%Y-%m-%dT%H:%M:%SZ')}, stop: {p["_stop"].strftime('%Y-%m-%dT%H:%M:%SZ')}) 
    |> filter(fn: (r) => r._measurement == "weather" and (r._field == "{weather_params_str}") and (r.source == "{weather_models_str}") and r.input_city == "{p["_input_city"]}")'''

#from(bucket: "forecast_latest/autogen") |> range(start: 2023-03-06T12:55:32Z, stop: 2023-03-13T12:55:32Z)  |> filter(fn: (r) => r._measurement == "weather" and (r._field == "pressure" or r._field == "windspeed_100m") and r.source == "harm_arome" and r.input_city == "Arnhem")

In [11]:
query_dataframe

'from(bucket: "forecast_latest/autogen") |> range(start: 2023-03-08T08:49:40Z, stop: 2023-03-15T08:49:40Z) \n    |> filter(fn: (r) => r._measurement == "weather" and (r._field == "pressure" or r._field == "windspeed_100m") and (r.source == "harm_arome") and r.input_city == "Arnhem")'

In [12]:
query_dataframe = '''from(bucket: "forecast_latest/autogen" )   
 |> range(start: - 10d) 
 |> limit(n:10)
 |> filter(fn: (r) => r._measurement == "weather" and r.source == "harm_arome" and r._field == "source_run")
 |> max()'''

In [17]:
raw_dataframe = di.exec_influx_query("buckets()")

/home/janmaarten/miniconda3/envs/openstef-dbc/lib/python3.9/site-packages/influxdb_client/client/warnings.py:31: MissingPivotFunction: The query doesn't contains the pivot() function.

The result will not be shaped to optimal processing by pandas.DataFrame. Use the pivot() function by:

    buckets() |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")

You can disable this warning by:
    import warnings
    from influxdb_client.client.warnings import MissingPivotFunction

    warnings.simplefilter("ignore", MissingPivotFunction)

For more info see:
    - https://docs.influxdata.com/resources/videos/pivots-in-flux/
    - https://docs.influxdata.com/flux/latest/stdlib/universe/pivot/
    - https://docs.influxdata.com/flux/latest/stdlib/influxdata/influxdb/schema/fieldsascols/

  warnings.warn(message, MissingPivotFunction)

In [14]:
query_dataframe

'from(bucket: "forecast_latest/autogen" )   \n |> range(start: - 10d) \n |> limit(n:10)\n |> filter(fn: (r) => r._measurement == "weather" and r.source == "harm_arome" and r._field == "source_run")\n |> max()'

In [19]:
len(raw_dataframe)

6

In [16]:
raw_dataframe

,result,table,_start,_stop,_time,_value,_field,_measurement,input_city,source
0,_result,0,2023-03-05 08:49:42.376199+00:00,2023-03-15 08:49:42.376199+00:00,2023-03-06 02:00:00+00:00,1678060800,source_run,weather,Aalsmeer_Bloemenveiling,harm_arome
1,_result,1,2023-03-05 08:49:42.376199+00:00,2023-03-15 08:49:42.376199+00:00,2023-03-06 02:00:00+00:00,1678060800,source_run,weather,Alkmaar,harm_arome
2,_result,2,2023-03-05 08:49:42.376199+00:00,2023-03-15 08:49:42.376199+00:00,2023-03-06 02:00:00+00:00,1678060800,source_run,weather,Almelo,harm_arome
3,_result,3,2023-03-05 08:49:42.376199+00:00,2023-03-15 08:49:42.376199+00:00,2023-03-06 02:00:00+00:00,1678060800,source_run,weather,Almere,harm_arome
4,_result,4,2023-03-05 08:49:42.376199+00:00,2023-03-15 08:49:42.376199+00:00,2023-03-06 02:00:00+00:00,1678060800,source_run,weather,Alphen_West,harm_arome
...,...,...,...,...,...,...,...,...,...,...
119,_result,119,2023-03-05 08:49:42.376199+00:00,2023-03-15 08:49:42.376199+00:00,2023-03-06 02:00:00+00:00,1678060800,source_run,weather,Zuidbroek,harm_arome
120,_result,120,2023-03-05 08:49:42.376199+00:00,2023-03-15 08:49:42.376199+00:00,2023-03-06 02:00:00+00:00,1678060800,source_run,weather,Zuiderveld,harm_arome
121,_result,121,2023-03-05 08:49:42.376199+00:00,2023-03-15 08:49:42.376199+00:00,2023-03-06 02:00:00+00:00,1678060800,source_run,weather,Zuilichem_RS,harm_arome
122,_result,122,2023-03-05 08:49:42.376199+00:00,2023-03-15 08:49:42.376199+00:00,2023-03-06 02:00:00+00:00,1678060800,source_run,weather,Zutphen,harm_arome
123,_result,123,2023-03-05 08:49:42.376199+00:00,2023-03-15 08:49:42.376199+00:00,2023-03-06 02:00:00+00:00,1678060800,source_run,weather,s-Graveland,harm_arome

In [69]:
dict(zip(runs, [4.567, 5.3, 6.123, 7.32, 8.9, 9.345, 12, 0.3, 1.3464, 0.542, 3]))

{0.0: 4.567,
 0.1: 5.3,
 0.2: 6.123,
 0.3: 7.32,
 0.4: 8.9,
 0.5: 9.345,
 0.6: 12,
 0.7: 0.3,
 0.8: 1.3464,
 0.9: 0.542,
 1.0: 3}

In [72]:
import pandas as pd


runs = [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]



res = pd.DataFrame(columns = quantiles )


this__timestep = pd.DataFrame(data=dict(zip(runs, [4.567, 5.3, 6.123, 7.32, 8.9, 9.345, 12, 0.3, 1.3464, 0.542, 3])), index=[0])

In [73]:
pd.concat([res,this__timestep])

     0.0  0.1    0.2   0.3  0.4    0.5 0.6  0.7     0.8    0.9 1.0
0  4.567  5.3  6.123  7.32  8.9  9.345  12  0.3  1.3464  0.542   3

In [83]:
[float(this__timestep.T.quantile(run)) for run in [0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95]]

[0.42100000000000004,
 0.542,
 1.3464,
 3.0,
 4.567,
 5.3,
 6.123,
 7.32,
 8.9,
 9.345,
 10.6725]

In [82]:
this__timestep.sort_values(axis=1, by=0)

   0.7    0.9     0.8  1.0    0.0  0.1    0.2   0.3  0.4    0.5  0.6
0  0.3  0.542  1.3464    3  4.567  5.3  6.123  7.32  8.9  9.345   12

In [37]:
pd.DataFrame([4, 5, 6, 7, 8, 9, 10, 0.0, 1, 2, 3])

       0
0    4.0
1    5.0
2    6.0
3    7.0
4    8.0
5    9.0
6   10.0
7    0.0
8    1.0
9    2.0
10   3.0

In [16]:
# Execute Query
result = _DataInterface.get_instance().exec_influx_query(query_dataframe)

# For multiple Fields a list is returned.
if isinstance(result, list):
    result = pd.concat(result)[["_value", "_field", "_time", "source"]]

# Check if response is empty
if not result.empty:                       
    result["_time"] = pd.to_datetime(result["_time"])
    result = result.pivot_table(columns = "_field", values = "_value", index = ["_time", "source"])
    result = result.reset_index().set_index("_time")
    result.index.name = "datetime"
    result.columns.name = ""

/home/janmaarten/miniconda3/envs/openstef-dbc/lib/python3.9/site-packages/influxdb_client/client/warnings.py:31: MissingPivotFunction: The query doesn't contains the pivot() function.

The result will not be shaped to optimal processing by pandas.DataFrame. Use the pivot() function by:

    from(bucket: "forecast_latest/autogen" )
 |> range(start: - 10d)
 |> limit(n:10)
 |> filter(fn: (r) => r._measurement == "weather" and r.source == "harm_arome" and r._field == "source_run")
 |> max() |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")

You can disable this warning by:
    import warnings
    from influxdb_client.client.warnings import MissingPivotFunction

    warnings.simplefilter("ignore", MissingPivotFunction)

For more info see:
    - https://docs.influxdata.com/resources/videos/pivots-in-flux/
    - https://docs.influxdata.com/flux/latest/stdlib/universe/pivot/
    - https://docs.influxdata.com/flux/latest/stdlib/influxdata/influxdb/schema/fieldsascols/

  warnings.warn(message, MissingPivotFunction)

NameError: name 'pd' is not defined

In [90]:
result

                               source       pressure  windspeed_100m
datetime
2023-03-06 17:00:00+00:00  harm_arome  100251.046875        8.202213
2023-03-06 18:00:00+00:00  harm_arome  100200.570312       10.458542
2023-03-06 19:00:00+00:00  harm_arome  100137.156250       10.880281
2023-03-06 20:00:00+00:00  harm_arome  100049.578125       11.590160
2023-03-06 21:00:00+00:00  harm_arome   99971.867188       12.496329
...                               ...            ...             ...
2023-03-12 08:00:00+00:00  harm_arome  100979.898438        9.002014
2023-03-12 09:00:00+00:00  harm_arome  100965.054688        9.313320
2023-03-12 10:00:00+00:00  harm_arome  100928.945312        8.569684
2023-03-12 11:00:00+00:00  harm_arome  100909.531250        8.554896
2023-03-12 12:00:00+00:00  harm_arome  100855.281250       10.322708

[140 rows x 3 columns]

In [56]:
import pandas as pd

raw_dataframe = pd.concat(raw_dataframe)[["_value", "_field", "_time"]]
raw_dataframe["_time"] = pd.to_datetime(raw_dataframe["_time"])
raw_dataframe.pivot_table(columns = "_field", values = "_value", index = "_time")

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"